/*
 * -------------------------------------------------
 *	nf-merge-fastq v1.0.0 config file
 * -------------------------------------------------
 */

// Global default params, used in configs
params {
	// Pipeline Options
	validation = false

	//Set mode to save files
	publishDirMode = 'copy'
}

profiles {
	aws {
		try {
			includeConfig "conf/aws.config"
		} catch (Exception e) {
			System.err.println("WARNING: Could not load config profiles: conf/aws.config")
		}
		try {
			includeConfig "conf/docker.config"
		} catch (Exception e) {
			System.err.println("WARNING: Could not load config profiles: conf/docker.config")
		}
		try {
			includeConfig "conf/containers.config"
		} catch (Exception e) {
			System.err.println("WARNING: Could not load config profiles: conf/containers.config")
		}
	}

	docker {
		try {
			includeConfig "conf/docker.config"
		} catch (Exception e) {
			System.err.println("WARNING: Could not load config profiles: conf/docker.config")
		}
		try {
			includeConfig "conf/containers.config"
		} catch (Exception e) {
			System.err.println("WARNING: Could not load config profiles: conf/containers.config")
		}
	}
}

try {
	includeConfig "conf/parameters.config"
} catch (Exception e) {
	System.err.println("WARNING: Could not load config profiles: conf/parameters.config")
}

try {
	includeConfig "conf/trace.config"
} catch (Exception e) {
	System.err.println("WARNING: Could not load config profiles: conf/trace.config")
}

manifest {
	name = 'nf-merge-fastq'
	author = 'Van Hoof Elise'
	description = 'Merge Fastq pipeline, that includes md5sum generation'
	mainScript = 'main.nf'
	nextflowVersion = '>=22.04.4'
	version = '1.0.0'
}
