params {
	/*
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		General Workflow & Pipeline settings
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	*/

	runName = null
	fastqExtension = "*_R{1,2}_001.fastq.gz"
	singleEnd = false

	reads = "${params.inputFolder}/${params.runName}/Fastq/${params.fastqExtension}"

	outdir = "${params.inputFolder}/${params.runName}"

	/*
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		Summary and onComlete overview parameters
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	*/

	monochromeLogs = false
	showHiddenParams = false
	help = false
}