params {
	tracedir = "${params.outdir}/PipelineInfo"
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
	enabled = true
	file	= "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file	= "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file	= "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
	fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,env,workdir,script,scratch,error_action'
}
dag {
	enabled = true
	file	= "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}